.name-input {
  width: 15rem;
  height: 2rem;
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: 21px;
}

.user-form {
  display: flex;
  align-items: center;
}

.user-options {
  margin: 7px;
}

.name-container {
  display: flex;
  flex-direction: column;
}

.save-user {
  height: 2.3rem;
}

.center-header {
  margin-top: 3rem;
  text-align: center;
}