label {
  margin-bottom: 8px;
}

.home {
  height: 100vh;
  text-align: center;
}

.tables {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.table-column {
  border: 1px solid black;
  min-width: 10rem;
  max-width: 10rem;
  padding: 3px;
  overflow: auto;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 22rem;
  max-height: 22rem;
  overflow: auto;
  margin-bottom: 20px;
  border: 1px solid black;
}

.text-input {
  width: 15rem;
  height: 2rem;
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: 21px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  width: 50%;
  margin: 15% auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px;
}

.modal-close {
  font-size: 36px;
  color: red;
  cursor: pointer;
  margin-bottom: 3.5rem;
}

.user-options {
  background-color: white;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 7px;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-header {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 12rem;
}